@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* color codes */
:root
{
  --white: #ffffff#fffwhitehsl(0,0,100)rgb(255,255,255);
  --darks-lategray :#4e5261#556darkslategrayhsl(227,10,34)rgb(78,82,97);
  --box-shadow: 0 .1rem 1rem rgb(78,82,97);
  --border: 2rem solid rgb(78,82,97);
  --outline: .1rem solid rgb(78,82,97);
}

/* root design */
*{
 font-family: "Poppins", sans-serif;
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 outline: none;
 border: none;
 text-decoration: none;
 text-transform: inherit;
 transition: all .2s linear;
}

/* html-body */
html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

/* body */
body{
  background: #eee;
}
/* header- navbar */
.header{
  gap: 2.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
  background: #fff;
  box-shadow: var(--box-shadow);
}
/* custom logo */
.header .logo{
  font-size: 2.5rem;
  font-weight: bolder;
}
/* navbar anchor tag */
.navbar a{
  font-size: 1.7rem;
  font-weight: 500;
} 
/* navbar anchor tag */
.header .navbar a{
  margin: 0 1rem;
  color: var(--darks-lategray);
}
/* hover over anchor tag */
.header .navbar a:hover{
  color: tomato;
}
/* search menu */
.header .search-form{
  font-size: 1.5rem;
  border: 0px solid;
  width: 50rem;
  height: 5rem;
  border-radius: .5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow);
}
/* search menu */
.header .search-form input{
  height: 100%;
  width: 100%;
  background: none;
  text-transform: none;
  font-size: 1.6rem;
  color: black;
  padding: 0 1.5rem;
}
/* search logo */
.header .search-form label{
  font-size: 2.2rem;
  padding-right: 1.5rem;
  cursor: pointer;
}